header{
	width: 100%;
	display: flex;
}
header nav {
  width: 691px;
  margin-top: 35px;
}

header nav a {
  margin-right: 65px;
  font-size: 14px;
  color: gray;
  text-decoration: none;
}

header nav a:hover {
  text-decoration: underline;
}

header nav a:first-child {
  margin-left: 0;
}

header nav a:last-child {
  margin-right: 0;
}

header .logo {
  margin-top: 25px;
}

body{
    width:880px;
    margin: 0 auto;
  }

  iframe{
      width: 90%;
      height: 70vh;
      
  }

  .vid{
      margin-top: 5%;
      display:flex;
      justify-content: center;
      align-items: flex-end;
  }