


/* header styles */

header{
    display:flex;
    width: 100%;
    justify-content: space-between;
    
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
   
}
header nav a{
    color: gray;
    text-decoration:none;
}

/* banner */
.services-header-img{
    width: 100%;
    margin-top: 20px;
}

/* services styles */
.services{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid black;
    border-bottom:1px solid black;
    
}
.services div{
   width: 40%;
   background:#d3d3d3;
   margin-top: 20px;
   margin-bottom: 20px;
   padding: 10px;
   border: 1px solid black;
}
.services div button{
 margin-bottom: 5px;
 margin-left: 5px;
 border-radius: 10%;
}


/* facts styles */
.about{
    display: flex;
    
}
.services-info-img{
    width: 40%;
    margin-top: 20px;
}
.about .facts p{
    margin-right: 20px;
    margin-left: 20px;
}
.facts h3{
    margin-left: 20px;
}
/* footer styles */
footer{
    display:flex;
    justify-content: center;
    margin-top: 25px;
}